<div class="row text-center" style="padding-top:10em;">
    <div class="col-12">
        <i class="pi pi-exclamation-triangle" style="font-size: 15em; color: #071484;"></i>
        <h1 style="color: #071484">404</h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-12">
        <h2 style="color: #071484">Oops...Page not found!</h2>
    </div>
</div>
<div class="row text-center pt-5">
    <div class="col-12">
        <button id="redirectButtonId" class="btn btn-primary pull-right" style="background-color: #071484;"
              (click)="redirect()">Go back
      </button>
    </div>
</div>