# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/../docker/mysql-data/performance_schema/events_errors_su_132.sdi
/../docker/mysql-data/performance_schema/events_errors_su_133.sdi
/../docker/mysql-data/performance_schema/events_errors_su_134.sdi
/../docker/mysql-data/performance_schema/events_errors_su_135.sdi
/../docker/mysql-data/performance_schema/events_errors_su_136.sdi
/../docker/mysql-data/performance_schema/events_stages_cu_104.sdi
/../docker/mysql-data/performance_schema/events_stages_hi_105.sdi
/../docker/mysql-data/performance_schema/events_stages_hi_106.sdi
/../docker/mysql-data/performance_schema/events_stages_su_107.sdi
/../docker/mysql-data/performance_schema/events_stages_su_108.sdi
/../docker/mysql-data/performance_schema/events_stages_su_109.sdi
/../docker/mysql-data/performance_schema/events_stages_su_110.sdi
/../docker/mysql-data/performance_schema/events_stages_su_111.sdi
/../docker/mysql-data/performance_schema/events_statement_112.sdi
/../docker/mysql-data/performance_schema/events_statement_113.sdi
/../docker/mysql-data/performance_schema/events_statement_114.sdi
/../docker/mysql-data/performance_schema/events_statement_115.sdi
/../docker/mysql-data/performance_schema/events_statement_116.sdi
/../docker/mysql-data/performance_schema/events_statement_117.sdi
/../docker/mysql-data/performance_schema/events_statement_118.sdi
/../docker/mysql-data/performance_schema/events_statement_119.sdi
/../docker/mysql-data/performance_schema/events_statement_120.sdi
/../docker/mysql-data/performance_schema/events_statement_121.sdi
/../docker/mysql-data/performance_schema/events_statement_122.sdi
/../docker/mysql-data/performance_schema/events_statement_123.sdi
/../docker/mysql-data/performance_schema/events_transacti_124.sdi
/../docker/mysql-data/performance_schema/events_transacti_125.sdi
/../docker/mysql-data/performance_schema/events_transacti_126.sdi
/../docker/mysql-data/performance_schema/events_transacti_127.sdi
/../docker/mysql-data/performance_schema/events_transacti_128.sdi
/../docker/mysql-data/performance_schema/events_transacti_129.sdi
/../docker/mysql-data/performance_schema/events_transacti_130.sdi
/../docker/mysql-data/performance_schema/events_transacti_131.sdi
/../docker/mysql-data/performance_schema/events_waits_cur_78.sdi
/../docker/mysql-data/performance_schema/events_waits_his_79.sdi
/../docker/mysql-data/performance_schema/events_waits_his_80.sdi
/../docker/mysql-data/performance_schema/events_waits_sum_81.sdi
/../docker/mysql-data/performance_schema/events_waits_sum_82.sdi
/../docker/mysql-data/performance_schema/events_waits_sum_83.sdi
/../docker/mysql-data/performance_schema/events_waits_sum_84.sdi
/../docker/mysql-data/performance_schema/events_waits_sum_85.sdi
/../docker/mysql-data/performance_schema/events_waits_sum_86.sdi
/../docker/mysql-data/performance_schema/file_instances_87.sdi
/../docker/mysql-data/performance_schema/file_summary_by__88.sdi
/../docker/mysql-data/performance_schema/file_summary_by__89.sdi
/../docker/mysql-data/mysql/general_log.CSM
/../docker/mysql-data/mysql/general_log.CSV
/../docker/mysql-data/mysql/general_log_201.sdi
/../docker/mysql-data/performance_schema/global_status_172.sdi
/../docker/mysql-data/performance_schema/global_variables_175.sdi
/../docker/mysql-data/performance_schema/host_cache_90.sdi
/../docker/mysql-data/performance_schema/hosts_139.sdi
/../docker/mysql-data/ib_buffer_pool
/../docker/mysql-data/ib_logfile0
/../docker/mysql-data/ib_logfile1
/../docker/mysql-data/ibdata1
/../docker/mysql-data/ibtmp1
/sonarlint/issuestore/index.pb
/../docker/mysql-data/performance_schema/keyring_keys_145.sdi
/../docker/mysql-data/performance_schema/log_status_165.sdi
/../docker/django/manage.py
/../docker/mysql-data/performance_schema/memory_summary_b_147.sdi
/../docker/mysql-data/performance_schema/memory_summary_b_148.sdi
/../docker/mysql-data/performance_schema/memory_summary_b_149.sdi
/../docker/mysql-data/performance_schema/memory_summary_b_150.sdi
/../docker/mysql-data/performance_schema/memory_summary_g_146.sdi
/../docker/mysql-data/performance_schema/metadata_locks_152.sdi
/../docker/mysql-data/performance_schema/mutex_instances_91.sdi
/../docker/mysql-data/mysql.ibd
/../docker/mysql-data/performance_schema/objects_summary__92.sdi
/../docker/mysql-data/dbpal/patients.ibd
/../docker/mysql-data/performance_schema/performance_time_93.sdi
/../docker/mysql-data/performance_schema/persisted_variab_178.sdi
/../docker/mysql-data/performance_schema/prepared_stateme_166.sdi
/../docker/mysql-data/private_key.pem
/../docker/mysql-data/public_key.pem
/../docker/mysql-data/performance_schema/replication_appl_158.sdi
/../docker/mysql-data/performance_schema/replication_appl_159.sdi
/../docker/mysql-data/performance_schema/replication_appl_160.sdi
/../docker/mysql-data/performance_schema/replication_appl_161.sdi
/../docker/mysql-data/performance_schema/replication_appl_163.sdi
/../docker/mysql-data/performance_schema/replication_appl_164.sdi
/../docker/mysql-data/performance_schema/replication_conn_155.sdi
/../docker/mysql-data/performance_schema/replication_conn_157.sdi
/../docker/mysql-data/performance_schema/replication_grou_156.sdi
/../docker/mysql-data/performance_schema/replication_grou_162.sdi
/../docker/django/requirements.txt
/../docker/mysql-data/performance_schema/rwlock_instances_94.sdi
/../docker/mysql-data/server-cert.pem
/../docker/mysql-data/server-key.pem
/../docker/mysql-data/performance_schema/session_account__144.sdi
/../docker/mysql-data/performance_schema/session_connect__143.sdi
/../docker/mysql-data/performance_schema/session_status_173.sdi
/../docker/mysql-data/performance_schema/session_variable_176.sdi
/../docker/mysql-data/performance_schema/setup_actors_95.sdi
/../docker/mysql-data/performance_schema/setup_consumers_96.sdi
/../docker/mysql-data/performance_schema/setup_instrument_97.sdi
/../docker/mysql-data/performance_schema/setup_objects_98.sdi
/../docker/mysql-data/performance_schema/setup_threads_99.sdi
/../docker/mysql-data/mysql/slow_log.CSM
/../docker/mysql-data/mysql/slow_log.CSV
/../docker/mysql-data/mysql/slow_log_202.sdi
/../docker/mysql-data/performance_schema/socket_instances_140.sdi
/../docker/mysql-data/performance_schema/socket_summary_b_141.sdi
/../docker/mysql-data/performance_schema/socket_summary_b_142.sdi
/../docker/mysql-data/performance_schema/status_by_accoun_168.sdi
/../docker/mysql-data/performance_schema/status_by_host_169.sdi
/../docker/mysql-data/performance_schema/status_by_thread_170.sdi
/../docker/mysql-data/performance_schema/status_by_user_171.sdi
/../docker/mysql-data/sys/sys_config.ibd
/../docker/mysql-data/performance_schema/table_handles_151.sdi
/../docker/mysql-data/performance_schema/table_io_waits_s_100.sdi
/../docker/mysql-data/performance_schema/table_io_waits_s_101.sdi
/../docker/mysql-data/performance_schema/table_lock_waits_102.sdi
/../docker/mysql-data/#innodb_temp/temp_1.ibt
/../docker/mysql-data/#innodb_temp/temp_2.ibt
/../docker/mysql-data/#innodb_temp/temp_3.ibt
/../docker/mysql-data/#innodb_temp/temp_4.ibt
/../docker/mysql-data/#innodb_temp/temp_5.ibt
/../docker/mysql-data/#innodb_temp/temp_6.ibt
/../docker/mysql-data/#innodb_temp/temp_7.ibt
/../docker/mysql-data/#innodb_temp/temp_8.ibt
/../docker/mysql-data/#innodb_temp/temp_9.ibt
/../docker/mysql-data/#innodb_temp/temp_10.ibt
/../docker/mysql-data/performance_schema/threads_103.sdi
/../docker/mysql-data/undo_001
/../docker/mysql-data/undo_002
/../docker/mysql-data/performance_schema/user_defined_fun_179.sdi
/../docker/mysql-data/performance_schema/user_variables_b_167.sdi
/../docker/mysql-data/performance_schema/users_137.sdi
/../docker/mysql-data/performance_schema/variables_by_thr_174.sdi
/../docker/mysql-data/performance_schema/variables_info_177.sdi
